.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    display: inline-block;
    letter-spacing: 0.03em;
    background: var(--team-background-color);
    cursor: pointer;
    color: #212121;
    background-color: rgba(245, 244, 250, 1);
    border-radius: 4px;
    padding: 6px 22px;
    border: transparent;

    transition-duration: 250ms;
    transition-property: color, background-color, box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: #FFFFFF;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    }

.photo-item {
    display: block;
    
}

.button-item {
&+& {
    margin-left: 8px;
}
}

.projects-descriptions-list {
    display: flex;
    flex-wrap: wrap;
}

.project {
    display: block;
    margin-right: 30px;
    margin-bottom: 30px;
    box-sizing: content-box;
    transition-duration: 250ms;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    &:nth-child(3n+3) {
            margin-right: 0;
        }
    &:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
    &:hover .products-cover-text {
            transform: translateY(-100%);
        }

}

.project-description-block {
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-right: 24px;
}

.projects-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--header-color);
}

.projects-tipe {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-top: 4px;
}

.product-thumb {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.products-cover-text {
    position: absolute;

    transition-duration: 250ms;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    padding: 63px 24px;

    width: 100%;
    height: 100%;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
}

.project-item {
&:focus .products-cover-text {
    transform: translateY(-100%);
}
}