.logo {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    &__part {
            color: var(--accent-color);
    }
    &--black {
    color: #000000;
    margin-right: 93px;
    }
    &--white {
    color: var(--second-header-color);
    margin-bottom: 20px;
    }
}




