body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
}

html {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}


// .list {
//     list-style: none;
// }

// .link {
//     text-decoration: none;
// }

a {
text-decoration: none;
}

// ul {
//     list-style: none;
// }
